@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test web app being deployed from Visual studio directly to a windows based azure VM or azure web app, guess by seeing the url.</p>
</div>
